body
{
background-color:#fcbbfb;
    font-family: sans-serif;
}

.topnav
{
        text-align: center;
       font-size: 50px;
   color: #8a2047;
   margin: -120px;
    }
.charn
{
        text-align: center;
       font-size: 40px;
       margin: 220px;
   color: black;
    }
.ta
{
            text-align: center;
       font-size: 30px;
       margin: -200px;
   color: black;
    }
.links
{
              text-align: left;
       font-size: 30px;
  margin:0px;
   padding:300px;
   color: black;
      list-style-type:none;
    }
.ol
{
 text-align: right;
       font-size: 30px;
   color: black;
      list-style-type:none;
     margin-top:-410px;
    margin-right:500px;
    }
.headings
{
  text-align: center;
   font-size: 40px;
 margin: 220px;
   color: #878f13;
    }
.words
{
position: relative;
bottom: 200px;
  text-align:left;
       font-size: 20px;
   color: black;
    }
.headings1
{
  text-align: center;
   font-size: 40px;
 margin: -150px;
   color: #878f13;
    }
.words1
{
position: relative;
bottom: -150px;
  text-align:left;
       font-size: 20px;
   color: black;
    }














    

h1 {
  text-align: center;
  margin-top: 30px;
    position: relative;
bottom: 200px;
}

form {
  border: 2px solid #ccc;
  background-color: #fff;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
        position: relative;
bottom: 200px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="phone number"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color:#878f13;
    color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

button[type="submit"]:hover {
  background-color: #45a049;
}